// Bootstrap Defaults
@import 'bootstrap-defaults';
// @import 'bootstrap-typography';

// Defaults

html { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body { background-color:$bgColor; font: $fontSize/#{$lineHeight} $font; color:$color; text-rendering: optimizelegibility; font-style: normal; letter-spacing: 0.03125em;}

a { text-decoration: none; color:$linkColor;
    &:hover, &:active { color:$linkHoverColor; }
}

h1, h2, h3, h4, h5 { margin : 0.208333333em 0; }

blockquote { padding: 0 0 0 15px; margin: 0 0 20px; border-left: 5px solid #eeeeee;}

.hide { display: none !important; }
.show { display: block !important; }

.invisible { visibility: hidden; }

.circle { border-radius: 50%; }

.affix { position: fixed; }

.clearfix {
    &:after { clear: both; }
    &:before, &:before { content: ".";  display: block;  height: 0; visibility: hidden;}
}

.border-bottom { border-bottom:1px solid #CCCCCC; padding-bottom:10px; }

.tb { display: table; border-collapse:collapse; }
.tb-row { display:table-row; }
.tb-cell { display:table-cell; }

.pull-right { float: right; }
.pull-left { float:left; }
.fl-none { float:none; }

.center { margin:0 auto; }
.center-block { display: block; @extend .center; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-hide { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }
.text-paragraph { text-indent:15px; }

.list-inline { padding-left: 0; list-style: none;
    > li { display: inline-block; }
}
.list-unstyled { list-style:none; }
.list-unstyled-v2 { padding-left: 0; @extend .list-unstyled; }
.list-clean { margin:0; padding:0; list-style:none; }
