$bgColor : #FFFFFF;  /*Body Background*/
$font: 'Helvetica Neue',Helvetica,Arial,sans-serif;   /*Body Font*/
$fontSize:16px;   /*Body Font Size*/
$lineHeight:24px;   /*Body Line Height*/
$color : #666666;    /*Body Color*/
$wrpSize : 960px;/* Wrapper Size*/
$linkColor : #73baf1;
$linkHoverColor : darken($linkColor, 40%);