<!DOCTYPE HTML>
<html lang="{{ locale }}">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {% block meta %}
      <title>Default Project</title>
    {% endblock %}
    <link href="css/main{% if production %}.min{% endif %}.css" rel="stylesheet">
    {% block headerStylesheets %}{% endblock %}
    {% block headerJavascripts %}{% endblock %}
  </head>
  <body>
    {% if isFileExists("../../.tmp/img/sprite.svg") %}
      <div class="u-hidden">
        {% include "../../.tmp/img/sprite.svg" %}
      </div>
    {% endif %}
    {% block body %}{% endblock %}

    <!-- Javascript Files -->
    {% block footerVendorJavascripts %}{% endblock %}
    {% if production %}
      <script src="js/app.min.js"></script>
    {% else %}
      <script src="js/libs.js"></script>
      <script src="js/main.js"></script>
    {% endif %}
    {% block footerJavascripts %}{% endblock %}
  </body>
</html>
