
//
// BASE
// --------------------------------------------------

//
// Scaffolding
// -------------------------

// Body reset

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  &:focus { // Reset outline for chrome
    outline: none;
  }
}


// Links

a {
  color: $link-color;
  text-decoration: none;

  &:focus { // Reset outline for chrome
    outline: none;
  }

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}


// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

figure {
  margin: 0;
}


// Images

img {
  vertical-align: middle;
}

// Responsive images (ensure images don't scale beyond their parents)
.img-responsive {
  @include img-responsive;
}


// Horizontal rules

hr {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;
  border: 0;
  border-top: 1px solid $hr-border;
}

//
// Typography
//
// Styleguide 1


//
// Headings
//
// All HTML headings, `<h1>` through `<h6>`, are available.
// `.h1` through `.h6` classes are also available,
// for when you want to match the font styling of a heading but
// cannot use the associated HTML element.
//
// Markup:
// <h1>Level 1 Heading</h1>
// <h2>Level 2 Heading</h2>
// <h3>Level 3 Heading</h3>
// <h4>Level 4 Heading</h4>
// <h5>Level 5 Heading</h5>
// <h6>Level 6 Heading</h6>
// <!-- ---- -->
// <p class="h1">h1. Heading</p>
// <p class="h2">h2. Heading</p>
// <p class="h3">h3. Heading</p>
// <p class="h4">h4. Heading</p>
// <p class="h5">h5. Heading</p>
// <p class="h6">h6. Heading</p>
//
// Styleguide 1.1

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.heading {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;

  small,
  .small {
    font-weight: normal;
    line-height: 1;
    color: $headings-small-color;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);

  small,
  .small {
    font-size: 65%;
  }
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);

  small,
  .small {
    font-size: 75%;
  }
}

h1,
.h1 {
  font-size: $font-size-h1;
}

h2,
.h2 {
  font-size: $font-size-h2;
}

h3,
.h3 {
  font-size: $font-size-h3;
}

h4,
.h4 {
  font-size: $font-size-h4;
}

h5,
.h5 {
  font-size: $font-size-h5;
}

h6,
.h6 {
  font-size: $font-size-h6;
}

//
// Inline text elements
//
// Styling for common inline HTML5 elements.
//
// Markup:
// <p>You can use the mark tag to <mark>highlight</mark> text.</p>
// <p><del>This line of text is meant to be treated as deleted text.</del></p>
// <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
// <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
// <p><u>This line of text will render as underlined</u></p>
// <p><small>This line of text is meant to be treated as fine print.</small></p>
// <p><strong>This line rendered as bold text.</strong></p>
// <p><em>This line rendered as italicized text.</em></p>
//
// Styleguide 1.2

//
// Body text
//

p {
  margin: 0 0 ($line-height-computed / 2);
}


//
// Emphasis & misc
//

mark {
  padding: .2em;
}

//
// Lists
//

// Unordered and Ordered lists
ul,
ol {
  margin-top: 0;
  margin-bottom: ($line-height-computed / 2);

  ul,
  ol {
    margin-bottom: 0;
  }
}

// List options

// [converter] extracted from `.list-unstyled` for libsass compatibility
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}
// [converter] extracted as `@mixin list-unstyled` for libsass compatibility
.list-unstyled {
  @include list-unstyled;
}


// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled;
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

// Description Lists
dl {
  margin-top: 0; // Remove browser default
  margin-bottom: $line-height-computed;
}

dt,
dd {
  line-height: $line-height-base;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0; // Undo browser default
}

//
// Misc
//

// Abbreviations and acronyms
abbr[title],
// Add data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted $color-monsoon;
}

.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Addresses
address {
  margin-bottom: $line-height-computed;
  font-style: normal;
  line-height: $line-height-base;
}
