
//
// Icons
//
// Dökümentasyon için icon isimlerini virgül ile ayırarak
// aşağıya ekleyiniz.
//
// Icons:
//
// Styleguide 3

.icon {
  display: inline-block;
  // Allows sizing by changing the icon’s font-size
  width: 1em;
  height: 1em;
  // Nice visual alignment for icons alongside text
  vertical-align: -0.15em;
  // Default path fill = value of the color property
  fill: currentColor;
}
