
//
// Utilities
// --------------------------------------------------

.u-clearfix {
  @include clearfix;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

.u-circle {
  border-radius: 50%;
}

.u-table {
  display: table;
  border-collapse: collapse;
}

.u-table-row {
  display: table-row;
}

.u-table-cell {
  display: table-cell;
}

.u-table-layout-fixed {
  table-layout: fixed;
}

.u-block {
  display: block;
}

.u-inline-block {
  display: inline-block;
}

.u-flex {
  display: flex;
}

.u-flex-grow-full {
  flex-grow: 1;
}

.u-fit {
  max-width: 100%;
}

.u-full-width {
  width: 100%;
}

.u-half-width {
  width: 50%;
}

.u-full-height {
  height: 100%;
}

.u-relative {
  position: relative;
}

.u-overflow-hidden {
  overflow: hidden;
}

.u-img-responsive {
  @include img-responsive(inline-block);
}

.u-text-overflow {
  @include text-overflow();
}

.u-equalize-line-height {
  line-height: 1;
}

.u-block-center {
  margin-left: auto;
  margin-right: auto;
}

.u-word-break-all {
  word-break: break-all;
}

.u-transition-background {
  transition: background-color $global-transition-duration;
}

.u-transition-color {
  transition: color $global-transition-duration;
}

.u-transition-opacity {
  transition: opacity $global-transition-duration;
}

.u-transition-transform {
  transition: transform $global-transition-duration;
}

// element should be block or inline-block
.u-vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.u-horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

// Alignment
.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-center {
  text-align: center;
}

.u-text-justify {
  text-align: justify;
}

.u-text-nowrap {
  white-space: nowrap;
}

.u-align-top {
  vertical-align: top;
}

.u-align-bottom {
  vertical-align: bottom;
}

.u-align-middle {
  vertical-align: middle;
}

.u-align-text-bottom {
  vertical-align: text-bottom;
}

// Transformation
.u-lowercase {
  text-transform: lowercase;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-capitalize {
  text-transform: capitalize;
}

// Font Weights
.u-text-light {
  font-weight: 300;
}

.u-text-regular {
  font-weight: 400;
}

.u-text-bold {
  font-weight: 700;
}

// Contextual colors
.u-text-muted {
  color: $text-muted;
}

.u-text-primary {
  color: $primary-color;
}

.u-text-success {
  color: $success-color;
}

.u-text-alert {
  color: $alert-color;
}

.u-text-warning {
  color: $warning-color;
}

//
//  Font Sizing
//

small,
.u-font-small {
  font-size: $font-size-small;
}

.u-font-regular {
  font-size: $font-size-base;
}

.u-font-medium {
  font-size: $font-size-medium;
}

.u-font-large {
  font-size: $font-size-large;
}

.u-font-xlarge {
  font-size: $font-size-xlarge;
}

//
// Gapping
//

.u-clear-gap {
  margin: 0;
}

.u-clear-gap-top {
  margin-top: 0;
}

.u-clear-gap-bottom {
  margin-bottom: 0;
}

.u-clear-gap-vertical {
  margin-top: 0;
  margin-bottom: 0;
}

.u-gap {
  @include make-utility-gaps();
}

.u-pad {
  @include make-utility-pads();
}

.u-hr-line {
  margin-top: 0;
  margin-bottom: 0;
}

.u-hidden {
  display: none;
}

.u-link-underline {
  text-decoration: underline;
}

.u-no-hover-underline:hover {
  text-decoration: none;
}
