
//
// Utilities
// --------------------------------------------------

.u-clearfix {
  @include clearfix;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

.u-circle {
  border-radius: 50%;
}

.u-table {
  display: table;
  border-collapse: collapse;
}

.u-table-row {
  display: table-row;
}

.u-table-cell {
  display: table-cell;
}

.u-table-layout-fixed {
  table-layout: fixed;
}

.u-block {
  display: block;
}

.u-inline-block {
  display: inline-block;
}

.u-flex {
  display: flex;

  @include make-utility-responsive() {
    display: flex;
  }
}

.u-flex-extend {
  flex: 1;
}

.u-flex-grow-full {
  flex-grow: 1;
}

.u-flex-no-shrink {
  flex-shrink: 0;
}

.u-flex-vertical-center {
  align-items: center;
}

.u-flex-justify-center {
  justify-content: center;
}

.u-flex-justify-space-between {
  justify-content: space-between;
}

.u-flex-justify-end {
  justify-content: flex-end;
}

.u-flex-nowrap {
  flex-wrap: nowrap;
}

.u-flex-direction-column {
  flex-direction: column;
}

.u-flex-full-center {
  align-items: center;
  justify-content: center;
}

.u-fit {
  max-width: 100%;
}

.u-full-width {
  width: 100%;

  @include make-utility-responsive() {
    width: 100%;
  }
}

.u-half-width {
  width: 50%;
}

.u-full-height {
  height: 100%;
}

.u-full-vheight {
  height: 100vh;
}

.u-relative {
  position: relative;
}

.u-overflow-hidden {
  overflow: hidden;
}

.u-img-responsive {
  @include img-responsive(inline-block);
}

.u-text-truncate {
  @include text-overflow();
}

.u-equalize-line-height {
  line-height: 1;
}

.u-block-center {
  margin-left: auto;
  margin-right: auto;
}

.u-word-break-all {
  word-break: break-all;
}

.u-transition-background {
  transition: background-color $g-transition-duration;
}

.u-transition-color {
  transition: color $g-transition-duration;
}

.u-transition-opacity {
  transition: opacity $g-transition-duration;
}

.u-transition-transform {
  transition: transform $g-transition-duration;
}

// Alignment
.u-text-align-left {
  text-align: left;
}

.u-text-align-right {
  text-align: right;
}

.u-text-align-center {
  text-align: center;
}

.u-text-align-justify {
  text-align: justify;
}

.u-reset-text-align {
  vertical-align: initial;
}

.u-vert-align-top {
  vertical-align: top;
}

.u-vert-align-bottom {
  vertical-align: bottom;
}

.u-vert-align-middle {
  vertical-align: middle;
}

.u-vert-align-text-bottom {
  vertical-align: text-bottom;
}

.u-text-nowrap {
  white-space: nowrap;
}

// Transformation
.u-lowercase {
  text-transform: lowercase;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-capitalize {
  text-transform: capitalize;
}

// Font Weights
.u-font-weight-light {
  font-weight: 300;
}

.u-font-weight-regular {
  font-weight: 400;
}

.u-font-weight-bold {
  font-weight: 700;
}

// Contextual colors
.u-color-muted {
  color: $text-muted;
}

.u-color-primary {
  color: $primary-color;
}

.u-color-success {
  color: $success-color;
}

.u-color-alert {
  color: $alert-color;
}

.u-color-warning {
  color: $warning-color;
}

//
//  Font Sizing
//

small,
.u-font-size-sm {
  font-size: $font-size-small;
}

.u-font-size-regular {
  font-size: $font-size-base;
}

.u-font-size-md {
  font-size: $font-size-medium;
}

.u-font-size-lg {
  font-size: $font-size-large;
}

.u-font-size-xl {
  font-size: $font-size-xlarge;
}

//
// Gapping
//

.u-clear-gap {
  margin: 0;
}

.u-clear-gap-top {
  margin-top: 0;
}

.u-clear-gap-bottom {
  margin-bottom: 0;
}

.u-clear-gap-vertical {
  margin-top: 0;
  margin-bottom: 0;
}

.u-gap {
  @include make-utility-gaps();
}

.u-pad {
  @include make-utility-pads();
}

.u-hr-line {
  margin-top: 0;
  margin-bottom: 0;
}

.u-hidden {
  display: none;

  @include make-utility-responsive() {
    display: none;
  }
}

.u-underline {
  text-decoration: underline;
}

.u-no-hover-underline:hover {
  text-decoration: none;
}

.u-not-selectable {
  user-select: none;
}

.u-pointer-events-none {
  pointer-events: none;
}

.u-cursor-pointer {
  cursor: pointer;
}
