//
// Form Control
//
// Styleguide Components.Form-Control

//
// Inputs
//
//  Markup:
// <input type="text" class="{{ classNames('c-form-control', modifier_class != '[disabled]' ? modifier_class : '') }}" placeholder="Please Enter" {% if modifier_class %}value="John Doe"{% endif %} {% if modifier_class == '[disabled]' %}disabled{% endif %}/>
//
// [disabled] - Disabled
// .is-valid - Valid
// .is-invalid - Invalid
// .is-warning - Warning
//
//  Styleguide Components.Form-Control.Inputs

//
// Textarea
//
//  Markup:
// <textarea class="{{ classNames('c-form-control c-form-control--textarea', modifier_class) }}">John Doe</textarea>
//
// .is-valid - Valid
// .is-invalid - Invalid
// .is-warning - Warning
//
//  Styleguide Components.Form-Control.Textarea

.c-form-control {
  @include form-control-block();
  @include form-control-modifier();

  //
  // Elements
  // -------------------------

  &[disabled] {
    background-color: $c-input-bg-color-disabled;
    opacity: 0.5;
  }

  .is-valid > &,
  &.is-valid {
    border-color: $success-color;
    color: $success-color;
  }

  .is-invalid > &,
  &.is-invalid {
    border-color: $alert-color;
    color: $alert-color;
  }

  .is-warning > &,
  &.is-warning {
    border-color: $warning-color;
    color: $warning-color;
  }

  //
  // Modifiers
  // -------------------------

  &--textarea {
    overflow: auto; // Per CSS3 UI, `resize` only applies when `overflow` isn't `visible`
    height: auto;
    resize: none; // Options: horizontal, vertical, both
  }
}
