//
// RADIO
//
// @markup
// <label class="c-radio c-radio--modifier">
//   <input class="c-radio__inp" name="" value="" type="radio"/>
//   <span class="c-radio__mask"></span>
// </label>
//  --------------------------------------------------

// stylelint-disable max-nesting-depth

$c-radio-size: 18px;
$c-radio-border-width: 1px;
$c-radio-circle-size: 8px;

.c-radio {
  display: inline-block;
  vertical-align: middle;

  //
  // Elements
  // -------------------------

  &__inp {
    display: none;

    &:checked + .c-radio__mask::before {
      display: block;
    }
  }

  //
  // Mask
  //

  &__mask {
    position: relative;
    display: inline-block;
    width: $c-radio-size;
    height: $c-radio-size;
    border-radius: 50%;
    border-style: solid;
    border-width: $c-radio-border-width;
    cursor: pointer;
    line-height: $c-radio-size;
    vertical-align: middle;

    &::before {
      position: absolute;
      top: (($c-radio-size - $c-radio-circle-size - ($c-radio-border-width * 2)) / 2);
      left: (($c-radio-size - $c-radio-circle-size - ($c-radio-border-width * 2)) / 2);
      display: none;
      width: $c-radio-circle-size;
      height: $c-radio-circle-size;
      border-radius: 50%;
      content: '';
    }
  }

  //
  // Modifiers
  // ------------------------

  //
  // Primary
  //

  &--primary {
    > .c-radio__mask {
      background-color: $color-silver;
      border-color: $color-gainsboro;

      &::before {
        background-color: $primary-color;
      }
    }
  }
}
