//
// Selectbox
//
// Markup:
// <select class="c-selectbox" name="">
//   <option value="">Seçiniz</option>
// </select>
//
// Styleguide

// stylelint-disable max-nesting-depth

$c-selectbox-font-family: $c-input-font-family;
$c-selectbox-font-size: $c-input-font-size;
$c-selectbox-arrow-size: 18px;
$c-selectbox-arrow-gap: 6px;
$c-selectbox-bg-color: $c-input-bg-color;
$c-selectbox-bg-disabled-color: $color-ghost;
$c-selectbox-color: $c-input-color;
$c-selectbox-border-width: $c-input-border-width;
$c-selectbox-border-color: $c-input-border-color;
$c-selectbox-border-radius: $c-input-border-radius;
$c-selectbox-padding-ends: $c-input-padding-vertical;
$c-selectbox-padding-left: $c-input-padding-horizontal;
$c-selectbox-padding-right: (
  $c-selectbox-arrow-size + ($c-selectbox-arrow-gap * 1.5) + $c-selectbox-border-width
);

.c-selectbox {
  // stylelint-disable scale-unlimited/declaration-strict-value, property-no-vendor-prefix
  display: inline-block;
  padding: $c-selectbox-padding-ends $c-selectbox-padding-right $c-selectbox-padding-ends
    $c-selectbox-padding-left;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: $c-selectbox-bg-color;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHBhdGggZmlsbD0iI2FhYSIgZD0iTTkuODc1IDEwLjQzOEwxNiAxNi41NjNsNi4xMjUtNi4xMjVMMjQgMTIuMzEzbC04IDgtOC04eiIvPjwvc3ZnPg==');
  background-position: right ($c-selectbox-arrow-gap + $c-selectbox-border-width) center;
  background-repeat: no-repeat;
  background-size: $c-selectbox-arrow-size $c-selectbox-arrow-size;
  border-color: $c-selectbox-border-color;
  border-radius: $c-selectbox-border-radius;
  border-style: solid;
  border-width: $c-selectbox-border-width;
  color: $c-selectbox-color;
  cursor: pointer;
  font-family: $c-selectbox-font-family;
  font-size: $c-selectbox-font-size;

  &:focus {
    outline: none;

    &::-ms-value {
      background-color: $c-selectbox-bg-color;
      // For visual consistency with other platforms/browsers,
      // supress the default white text on blue background highlight given to
      // the selected option text when the (still closed) <select> receives focus
      // in IE and (under certain conditions) Edge.
      // See https://github.com/twbs/bootstrap/issues/19398.
      color: $c-selectbox-color;
    }
  }

  &:disabled {
    background-color: $c-selectbox-bg-disabled-color;
    cursor: default;
    opacity: 0.5;
  }

  // Hides the default caret in IE11
  &::-ms-expand {
    opacity: 0;
  }

  //
  // Modifiers
  // -------------------------

  // &--primary {

  // }
}
