//
// Variables
//
// stylelint-disable declaration-bang-space-before
// --------------------------------------------------

// SCAFFOLDING
// -------------------------

// `<body>` nin arkaplan rengi
$g-body-bg: $color-white !default;

//** `<body>` nin Global text rengi.
$g-text-color: $color-oil !default;

// Global link rengi
$g-link-color: $primary-color !default;

// Global link hover rengi
$g-link-hover-color: darken($g-link-color, 15%) !default;

$g-link-hover-decoration: underline !default;

$g-border-color: $color-smoke;

//  TYPOGRAPHY
// -------------------------

$g-font-size-base: 14px !default;
$g-font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$g-font-family-base: $g-font-family-sans-serif !default;

$g-font-size-h1: floor(($g-font-size-base * 2.6)) !default; // ~36px
$g-font-size-h2: 2.143em; //floor(($g-font-size-base * 2.15)) !default; // ~30px
$g-font-size-h3: 1.714em; //ceil(($g-font-size-base * 1.7)) !default; // ~24px
$g-font-size-h4: 1.286em; //ceil(($g-font-size-base * 1.25)) !default; // ~18px
$g-font-size-h5: $g-font-size-base !default;
$g-font-size-h6: 0.857em; //ceil(($g-font-size-base * 0.85)) !default; // ~12px

// Unit-less `line-height` for use in components like buttons.
$g-line-height-base: 1.428571429 !default; // 20/14
// Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$g-line-height-computed: floor(($g-font-size-base * $g-line-height-base)) !default; // ~20px

// By default, this inherits from the `<body>`.
$g-headings-font-family: inherit !default;
$g-headings-font-weight: 500 !default;
$g-headings-line-height: 1.1 !default;
$g-headings-color: inherit !default;
$g-headings-small-color: $color-monsoon;

// Text muted color
$g-text-muted-color: $color-monsoon !default;
// Horizontal line color.
$g-hr-border-color: $g-border-color !default;

// FONT SIZING
// -------------------------

$g-font-size-small: $g-font-size-base - 2px;
$g-font-size-xsmall: $g-font-size-base - 4px;
$g-font-size-medium: $g-font-size-base + 2px;
$g-font-size-large: $g-font-size-base + 4px;
$g-font-size-xlarge: $g-font-size-base + 8px;

// GAPS
//
// normal: 24px <= Global line height
// small:  16px
// xsmall: 8px
// 2xsmall: 4px
// medium: 32px
// large: 40px
// xlarge:  48px
// -------------------------
$g-base-gap: $g-line-height-computed;
$g-gaps: (
  normal: $g-base-gap,
  small: ($g-base-gap / 1.5),
  xsmall: ($g-base-gap / 3),
  2xsmall: ($g-base-gap / 6),
  medium: ($g-base-gap * (4 / 3)),
  large: ($g-base-gap * (5 / 3)),
  xlarge: ($g-base-gap * 2)
);

// PADDINGS
//
// medium: 40px | large: 48px | xlarge: 64px | 2xlarge: 96px
// normal: 32px
// small: 24px | xsmall: 16px | 2xsmall: 8px
// -------------------------
$g-base-padding: 32px;
$g-pads: (
  normal: $g-base-padding,
  small: ($g-base-padding * 0.75),
  xsmall: ($g-base-padding / 2),
  2xsmall: ($g-base-padding / 4),
  medium: ($g-base-padding * 1.25),
  large: ($g-base-padding * 1.5),
  xlarge: ($g-base-padding * 2),
  2xlarge: ($g-base-padding * 3)
);

//  BUTTONS VARIABLES
// -------------------------

$c-button-function-factor: -20% !default; // Butunun arkaplan rengini aydınlatma oranı
$c-button-font-family: null !default; // Butonun fontu
$c-button-bg-color: $primary-color !default; // Buton default bg color
$c-button-bg-hover: scale-color($c-button-bg-color, $lightness: $c-button-function-factor) !default; // Button default hover rengi
$c-button-border-color: $c-button-bg-hover !default; // Button default border rengi
$c-button-radius: 3px !default; // Button default border radius
$c-button-font-size: 14px !default; // Button default font boyutu
$c-button-line-height: null !default; // Button line-height
$c-button-font-color: $color-white !default; // Button default font rengi
$c-button-font-color-alt: $color-oil !default; // Button default font rengi
$c-button-padding-vertical: 10px !default; // Button dikey padding
$c-button-padding-horizontal: 20px !default; // Button default yatay padding
$c-button-border-width: 0 !default; // Button default border width

//  FORMS CONTROL VARIABLES
// -------------------------

$c-input-bg-color: inherit !default; // `<input>` background color
$c-input-bg-color-disabled: $color-smoke !default; // `<input disabled>` background color
$c-input-color: $color-charcoal !default; // Text color for `<input>`s
$c-input-color-placeholder: $color-monsoon !default; // Placeholder text color
$c-input-border-color: $color-iron !default; // `<input>` border color
$c-input-border-width: 1px !default; // `<input>` border width
$c-input-border-radius: null !default; // `<input>` border radius
$c-input-border-focus: #66afe9 !default; // Border color for inputs on focus
$c-input-font-size: $g-font-size-base !default;
$c-input-line-height: $g-line-height-computed !default;
$c-input-padding-vertical: 6px;
$c-input-padding-horizontal: 12px;
$c-input-height-base: (
    $c-input-line-height + ($c-input-padding-vertical * 2) + ($c-input-border-width * 2)
  )
  !default; // Default `.form-control` height

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (xs: 0, sm: 544px, md: 768px, lg: 992px, xl: 1200px) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (sm: 576px, md: 720px, lg: 940px, xl: 1140px) !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

//
// Transition Duration
// -------------------------

$g-transition-duration: 0.4s;

//
// Z-index
// Site genelinde kullanılan z-indexler burada tanımlanmalıdır
// -------------------------
