// ------------------------------------------------------------------------------
//   Variables - Colors, Fonts, etc.
// ------------------------------------------------------------------------------
$kss-colors-background: #fff;

$kss-colors-foreground: #444;
$kss-colors-heading: #111;
$kss-colors-quotes: #666;

$kss-colors-link: #0645ad;
$kss-colors-link-visited: #0645ad;
$kss-colors-link-hover: lighten($kss-colors-link, 20%);
$kss-colors-link-active: #faa700;

$kss-font-body: Helvetica, 'Helvetica Neue', Arial, sans-serif;
$kss-font-code: Menlo, 'Ubuntu Mono', 'Lucida Console', 'Courier New', Courier, monospace;

$kss-font-size: 16px;
$kss-vertical-rhythm: $kss-font-size * 1.5;

// ------------------------------------------------------------------------------
// Wrap all of this builder's base HTML styling inside a .kss-style selector.
// ------------------------------------------------------------------------------

.kss-style {
  color: $kss-colors-foreground;
  font-family: $kss-font-body;
  font-size: $kss-font-size;
  line-height: $kss-vertical-rhythm;

  a {
    color: $kss-colors-link;
    text-decoration: none;
    transition-duration: 0.5s;
    transition-property: color;

    &:visited {
      color: $kss-colors-link-visited;
    }
    &:hover,
    &:focus {
      color: $kss-colors-link-hover;
    }
    &:active {
      color: $kss-colors-link-active;
    }

    &:hover,
    &:active {
      outline: 0;
    }
  }

  p {
    margin: ($kss-vertical-rhythm/2) 0 $kss-vertical-rhythm 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: $kss-vertical-rhythm 0 0 0;
    color: $kss-colors-heading;
    font-family: $kss-font-body;
    line-height: 1.15em;
  }

  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  h1 {
    font-size: $kss-font-size * 2.5;
  }
  h2 {
    font-size: $kss-font-size * 2.25;
  }
  h3 {
    font-size: $kss-font-size * 2.125;
  }
  h4 {
    font-size: $kss-font-size * 2;
  }
  h5 {
    font-size: $kss-font-size * 1.875;
  }
  h6 {
    font-size: $kss-font-size * 1.75;
  }

  blockquote {
    padding-left: $kss-vertical-rhythm;
    border-left: 0.5em mix($kss-colors-quotes, $kss-colors-background, 25%) solid;
    margin: 0;
    color: $kss-colors-quotes;
  }

  hr {
    display: block;
    height: 2px;
    padding: 0;
    border: 0;
    border-top: 1px solid lighten($kss-colors-foreground, 60%);
    border-bottom: 1px solid darken($kss-colors-background, 10%);
    margin: $kss-vertical-rhythm 0;
  }

  pre,
  code,
  kbd,
  samp {
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
    color: mix($kss-colors-foreground, $kss-colors-heading, 50%);
    font-family: $kss-font-code;
  }

  code {
    padding: 0.2em 0.4em;
    font-size: 85%;
  }

  pre {
    overflow: scroll;
    padding: 24px;
    white-space: pre;

    code {
      background-color: transparent;
    }
  }

  ins {
    background: #ff9;
    color: $kss-colors-heading;
    text-decoration: none;
  }

  mark {
    background: #ff0;
    color: $kss-colors-heading;
    font-weight: bold;
  }

  sub,
  sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
  }
  sup {
    top: -0.5em;
  }
  sub {
    bottom: -0.25em;
  }

  ul,
  ol {
    padding: 0 0 0 $kss-vertical-rhythm;
    margin: $kss-vertical-rhythm 0;
  }
  li p:last-child {
    margin: 0;
  }
  dd {
    margin: 0 0 0 $kss-vertical-rhythm;
  }

  img {
    max-width: 100%;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  td {
    vertical-align: top;
  }

  @media print {
    a,
    a:visited {
      text-decoration: underline;
    }
    hr {
      height: 1px;
      border: 0;
      border-bottom: 1px solid black;
    }
    a[href]:after {
      content: ' (' attr(href) ')';
    }
    a[href^='javascript:']:after,
    a[href^='#']:after {
      content: '';
    }
    abbr[title]:after {
      content: ' (' attr(title) ')';
    }
    pre,
    blockquote {
      padding-right: 1em;
      border: 1px solid #999;
      page-break-inside: avoid;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    img {
      max-width: 100% !important;
    }
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
}

// ------------------------------------------------------------------------------
// Layout and page background
// ------------------------------------------------------------------------------

#kss-node {
  padding: 20px;
  margin: 0;
  background: #fff;

  &.kss-fullscreen-mode {
    .kss-sidebar,
    .kss-section:not(.is-fullscreen),
    .kss-github {
      display: none;
    }
  }

  .kss-main {
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: 769px) {
      width: 80%;
      padding: 0 20px 0 30px;
      margin-left: 20%;
    }
  }

  .kss-sidebar {
    border-bottom: 1px solid #ddd;

    @media screen and (min-width: 769px) {
      position: fixed;
      overflow: auto;
      width: 20%;
      height: 100%;
      padding: 0 10px 0 20px;
      border-bottom: 0;
      background-image: url(noise-low.png), -ms-radial-gradient(#fff, #eee);
      background-image: url(noise-low.png), -o-radial-gradient(#fff, #eee);
      background-image: url(noise-low.png), -webkit-radial-gradient(#fff, #eee);
      background-image: url(noise-low.png), radial-gradient(#fff, #eee);
      box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.7);
    }
  }

  @media screen and (min-width: 769px) {
    padding: 0;

    .kss-main,
    .kss-sidebar {
      box-sizing: border-box;
      margin-right: -100%;
      float: left;
    }
  }
}

// ------------------------------------------------------------------------------
// Sidebar-area components
// ------------------------------------------------------------------------------

#kss-node {
  .kss-doc-title {
    margin: 0;

    @media screen and (min-width: 769px) {
      font-size: 1.5em;
    }
  }

  .kss-header,
  .kss-nav {
    @media screen and (min-width: 769px) {
      margin-top: 2em;
    }
  }

  .kss-nav__menu {
    padding: 0;
    margin-top: ($kss-vertical-rhythm/2);
    margin-bottom: ($kss-vertical-rhythm/2);
    list-style-type: none;
  }

  .kss-nav__menu-item {
    display: inline-block;
    padding-right: $kss-vertical-rhythm;

    @media screen and (min-width: 769px) {
      display: list-item;
      padding-right: 0;
    }
  }

  .kss-nav__menu-link {
    position: relative;
    display: inline-block;

    &:before {
      @media screen and (min-width: 769px) {
        position: absolute;
        left: -20px;
        width: 0;
        height: 100%;
        background-color: rgba(#000, 0);
        content: ' ';
      }
    }

    &.is-in-viewport:before {
      width: 5px;
      background-color: #000;
      transition: background-color 0.4s, width 0.6s;
    }
  }

  .kss-nav__menu-child {
    display: none;

    @media screen and (min-width: 769px) {
      display: block;
      padding: 0;
      margin: 0;
      list-style-type: none;

      // @TODO: The ul is output even when there are no children. Fix this, so
      // we can put these :first-child and :last child styles back on the ul.
      li:first-child {
        padding: 10px 0 0;
        border-top: 1px solid #ccc;
        margin-top: 10px;
      }

      li:last-child {
        padding: 0 0 10px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
      }
    }
  }

  .kss-nav__ref {
    color: #333;
    font-weight: bold;

    &:after {
      content: ' ';
    }
  }
  .kss-nav__ref-child {
    font-weight: normal;
  }
}

// ------------------------------------------------------------------------------
// Content-area components
// ------------------------------------------------------------------------------

#kss-node {
  .kss-section {
    margin-bottom: ($kss-vertical-rhythm * 2);

    // "fullscreen" styles copied from Mozilla's default stylesheet.
    &.is-fullscreen {
      position: fixed !important;
      top: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
      left: 0 !important;
      // Turn on scrolling if needed.
      overflow: auto !important;
      width: 100% !important;
      min-width: 0 !important;
      max-width: none !important;
      height: 100% !important;
      min-height: 0 !important;
      max-height: none !important;
      box-sizing: border-box !important;
      padding: 20px;
      margin: 0 !important;
      object-fit: contain !important;
      transform: none !important;
    }
  }

  .kss-title {
    margin-bottom: 0;
  }
  .is-fullscreen .kss-title {
    margin-top: 0;
  }
  .kss-title__ref {
    display: block;
    color: #666;
    font-size: $kss-font-size;
    line-height: $kss-font-size;

    &:before {
      content: 'Section ';
    }
  }
  .kss-title__permalink {
    display: block;
    color: #000;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: $kss-colors-link;

      @media screen and (min-width: 607px) {
        .kss-title__permalink-hash {
          display: inline;
        }
      }
    }
  }
  .kss-title__permalink-hash {
    display: none;
    color: #ccc;
  }

  .kss-toolbar {
    display: inline-block;
    padding: 3px;
    border: 1px solid #eee;
    margin: 6px 0 24px;
    background-color: #f9f9f9;
    border-bottom-color: #e0e0e0;
    border-right-color: #e0e0e0;
    line-height: 1;

    a {
      // Tooltip wrapper styles:
      position: relative;
      display: inline-block;
      overflow: visible;
      width: 16px;
      height: 16px;
      box-sizing: content-box;
      padding: 3px;
      vertical-align: top;

      + a {
        margin-left: 6px;
      }

      .kss-toolbar__icon-fill {
        fill: #ccc;
      }

      svg.on {
        display: none;
      }

      &:focus,
      &:hover {
        border-color: #000;

        .kss-toolbar__icon-fill {
          fill: #000;
        }
      }
    }
  }
  .kss-toolbar__tooltip {
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: -10px;
    display: inline-block;
    overflow: hidden;
    width: 1px;
    // Visually hidden
    height: 1px;
    padding: 8px 10px 6px;
    border: solid 1px #666;
    margin-bottom: 5px;
    background: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    clip: rect(1px, 1px, 1px, 1px);
    color: #000;
    cursor: help;
    opacity: 0;
    transition: opacity 0.25s;
    white-space: nowrap;
    word-wrap: normal;

    // Solid grey triangle.
    &:before,
    &:after {
      position: absolute;
      bottom: -8px;
      left: 15px;
      width: 0;
      height: 0;
      border-color: #666 transparent;
      border-style: solid;
      border-width: 7px 5px 0;
      content: '';
    }

    // White triangle knock-out.
    &:after {
      bottom: -6px;
      border-top-color: #fff;
    }
  }
  a:focus,
  a:hover {
    > .kss-toolbar__tooltip {
      overflow: visible;
      width: auto;
      height: auto;
      // Visually hidden off
      clip: auto;
      opacity: 1;
    }
  }
  .is-fullscreen .kss-toolbar a[data-kss-fullscreen],
  &.kss-guides-mode .kss-toolbar a[data-kss-guides],
  &.kss-markup-mode .kss-toolbar a[data-kss-markup] {
    background-color: #666;
    border-color: #666;

    .kss-toolbar__icon-fill {
      fill: #fff;
    }

    svg.on {
      display: block;
    }

    svg.off {
      display: none;
    }
  }

  .kss-parameters {
    display: table;
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
    list-style-type: none;
  }
  .kss-parameters__title {
    font-weight: bold;
  }
  .kss-parameters__item {
    display: table-row;
  }
  .kss-parameters__name {
    display: table-cell;
    padding-right: 20px;
    white-space: nowrap;
  }
  .kss-parameters__description {
    display: table-cell;
  }
  .kss-parameters__default-value code {
    white-space: nowrap;
  }

  .kss-modifier__wrapper {
    padding: 0 10px 10px;
    border: 1px solid #ccc;
  }
  .is-fullscreen .kss-modifier__wrapper {
    padding-right: 0;
    // Remove all padding on the wrapper
    padding-left: 0;
    border: none;
    margin-right: -20px;
    // Un-do padding on .kss-section.
    margin-left: -20px;
  }
  .kss-modifier__heading {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin: 0 -10px 10px -10px;
    background-color: #eee;
    font-weight: bold;
  }
  .is-fullscreen .kss-modifier__heading {
    border: 1px solid #ccc;
    margin: 0 20px 10px;
  }
  .kss-modifier__default-name {
    margin-bottom: ($kss-vertical-rhythm / 2);
    font-weight: bold;
  }
  .is-fullscreen .kss-modifier__default-name {
    margin-right: 20px;
    margin-left: 20px;
  }
  .kss-modifier__name {
    padding-right: 10px;
    float: left;
    font-weight: bold;
  }
  .is-fullscreen .kss-modifier__name {
    margin-left: 20px;
  }
  .kss-modifier__description {
    margin-bottom: ($kss-vertical-rhythm / 2);
  }
  .is-fullscreen .kss-modifier__description {
    margin-right: 20px;
  }
  .kss-modifier__example {
    position: relative; // Contain the example's absolute positioning.
    z-index: 0; // Establishes a local stacking context.
    border: 2px dashed transparent;
    margin: -2px -2px ($kss-vertical-rhythm - 2px);
    clear: left;
    transform: translate3d(0, 0, 0);

    &:last-child {
      margin-bottom: 0;
    }
  }
  &.kss-guides-mode .kss-modifier__example,
  &.kss-guides-mode .kss-modifier__example-footer {
    &:before,
    &:after {
      position: absolute;
      z-index: -1;
      width: 5px;
      height: 5px;
      box-sizing: border-box;
      border: 2px solid #000;
      content: '';
    }
  }
  &.kss-guides-mode .kss-modifier__example {
    border-color: #000;

    &:before {
      top: -5px;
      left: -5px;
      border-top: 0;
      border-left: 0;
    }
    &:after {
      top: -5px;
      right: -5px;
      border-top: 0;
      border-right: 0;
    }
  }
  &.kss-guides-mode.kss-fullscreen-mode .kss-modifier__example {
    &:before {
      right: 0;
      left: auto;
    }
    &:after {
      right: auto;
      left: 0;
    }
  }
  .kss-modifier__example-footer {
    clear: both;
  }
  &.kss-guides-mode .kss-modifier__example-footer {
    &:before {
      bottom: -5px;
      left: -5px;
      border-bottom: 0;
      border-left: 0;
    }
    &:after {
      right: -5px;
      bottom: -5px;
      border-right: 0;
      border-bottom: 0;
    }
  }
  &.kss-guides-mode.kss-fullscreen-mode .kss-modifier__example-footer {
    &:before {
      right: 0;
      left: auto;
    }
    &:after {
      right: auto;
      left: 0;
    }
  }

  .kss-markup {
    border: 1px solid #ccc;
    margin: $kss-vertical-rhythm 0;

    &[open] summary {
      border-bottom: 1px solid #ccc;
      margin-bottom: 3px;
    }

    summary {
      padding-left: 10px;
    }

    pre {
      margin: 0;
    }
  }

  .kss-source {
    font-size: 80%;
  }

  .kss-github {
    display: none;

    img {
      border: 0;
    }

    @media screen and (min-width: 501px) {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
    }
  }

  // ------------------------------------------------------------------------------
  // prettify.js styles
  // ------------------------------------------------------------------------------

  /* SPAN elements with the classes below are added by prettyprint. */
  .pln {
    color: #000;
  } /* plain text */

  .str {
    color: #080;
  } /* string content */
  .kwd {
    color: #008;
  } /* a keyword */
  .com {
    color: #800;
  } /* a comment */
  .typ {
    color: #606;
  } /* a type name */
  .lit {
    color: #066;
  } /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun,
  .opn,
  .clo {
    color: #660;
  }
  .tag {
    color: #008;
  } /* a markup tag name */
  .atn {
    color: #606;
  } /* a markup attribute name */
  .atv {
    color: #080;
  } /* a markup attribute value */
  .dec,
  .var {
    color: #606;
  } /* a declaration; a variable name */
  .fun {
    color: red;
  } /* a function name */

  /* Specify class=linenums on a pre to get line numbering */
  ol.linenums {
    padding: 0 0 3px;
    margin: 0;
    list-style-type: none;

    li {
      min-height: $kss-vertical-rhythm;
      padding: 0 10px;
      border-bottom: 1px solid #eee;
      background: #fff;

      &:first-child {
        padding-top: 3px;
      }
    }
    /* Alternate shading for lines */
    li.L0,
    li.L2,
    li.L4,
    li.L6,
    li.L8 {
      background: #fcfcfc;
    }
  }

  /* Use higher contrast and text-weight for printable form. */
  @media print, projection {
    .str {
      color: #060;
    }
    .kwd {
      color: #006;
      font-weight: bold;
    }
    .com {
      color: #600;
      font-style: italic;
    }
    .typ {
      color: #404;
      font-weight: bold;
    }
    .lit {
      color: #044;
    }
    .pun,
    .opn,
    .clo {
      color: #440;
    }
    .tag {
      color: #006;
      font-weight: bold;
    }
    .atn {
      color: #404;
    }
    .atv {
      color: #060;
    }
  }
}

.kss-colors {
  padding: 0;
  margin-top: 24px;
  margin-right: -15px;
  margin-left: -15px;
  list-style: none;

  &__item {
    display: inline-block;
    overflow: hidden;
    width: 33%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0.75em;
  }

  &__demo {
    width: 100px;
    height: 100px;
    border: 1px solid #d5dbe0;
    border-radius: 3px;
    float: left;
  }

  &__info {
    margin-left: 120px;
  }

  &__name {
    color: #2c2f33;
    font-weight: bold;

    .kss-colors__info > & {
      margin-top: 0;
      margin-bottom: 0.75em;
    }
  }

  &__hex,
  &__rgb,
  &__hsl {
    font-size: 0.8em;

    .kss-colors__info > & {
      margin: 0;
    }
  }

  &__description {
    color: #666;
  }
}

.kss-icons {
  padding: 0;
  margin: 0;
  margin-right: -2px;
  margin-left: -2px;
  color: #666;
  list-style: none;
}

.kss-icons__item {
  display: inline-block;
  width: 88px;
  padding: 10px;
  margin-right: 2px;
  margin-bottom: 24px;
  margin-left: 2px;
  background: #e3e5e7;
  border-radius: 3px;
  text-align: center;
}

.kss-icons__demo {
  color: #162a36;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4px;
}

.kss-icons__name {
  display: block;
  overflow: hidden;
  margin-left: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.kss-description {
  table {
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: white;
    color: #363636;

    th {
      border-bottom-width: 1px;
      color: #363636;
    }

    td,
    th {
      padding: 0.5em 0.75em;
      border: 1px solid #dbdbdb;
      text-align: left;
      vertical-align: top;
    }
  }
}
