
//
// Mixins
// --------------------------------------------------

@import 'mixins/buttons';
@import 'mixins/forms';
@import 'mixins/breakpoint';

//
// Px to Em Mixin
//

@function em($px, $base: $font-size-base) {
  @return ($px / $base) * 1em;
}

//
// Font-Face Mixin
//

@mixin font-face($fontName, $fontFolder, $fontFileName, $fontWeight : normal, $fontStyle : normal){
    @font-face {
    font-family: $fontName;
    src: url('fonts/#{$fontFolder}/#{$fontFileName}.eot');
    src: url('fonts/#{$fontFolder}/#{$fontFileName}.eot?#iefix') format('embedded-opentype'),
         url('fonts/#{$fontFolder}/#{$fontFileName}.woff') format('woff'),
         url('fonts/#{$fontFolder}/#{$fontFileName}.ttf') format('truetype'),
         url('fonts/#{$fontFolder}/#{$fontFileName}.svg##{$fontFileName}') format('svg');
    font-weight: $fontWeight; font-style: $fontStyle;}
}

//
// Font Face Mixin for modern browsers
// IE 9+
//

@mixin font-face-modern ($fontName, $fontFolder, $fontFileName, $fontWeight : normal, $fontStyle : normal){
  @font-face {
    font-family: $fontName;
    src: url('fonts/#{$fontFolder}/#{$fontFileName}.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('fonts/#{$fontFolder}/#{$fontFileName}.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: $fontWeight; font-style: $fontStyle;
  }
}


//
// We use this to create isosceles triangles
// $triangle-size - Used to set border-size. No default, set a px or em size.
// $triangle-color - Used to set border-color which makes up triangle. No default
// $triangle-direction - Used to determine which direction triangle points. Options: top, bottom, left, right

@mixin css-triangle($triangle-size, $triangle-color, $triangle-direction) {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset $triangle-size;
  @if ($triangle-direction == top) {
    border-color: $triangle-color transparent transparent transparent;
    border-top-style: solid;
  }
  @if ($triangle-direction == bottom) {
    border-color: transparent transparent $triangle-color transparent;
    border-bottom-style: solid;
  }
  @if ($triangle-direction == left) {
    border-color: transparent transparent transparent $triangle-color;
    border-left-style: solid;
  }
  @if ($triangle-direction == right) {
    border-color: transparent $triangle-color transparent transparent;
    border-right-style: solid;
  }
}


//
//  Font Sizing
//

@mixin font-xsmall { font-size: $font-size-xsmall; }
@mixin font-small  { font-size: $font-size-small; }
@mixin font-medium { font-size: $font-size-medium; }
@mixin font-large  { font-size: $font-size-large; }
@mixin font-xlarge { font-size: $font-size-xlarge; }


//
// Retina Image
//
// $image2x - 2x Resim url adresi Örn 'img/logo-retina.png'
// $width - Resim genişliği
// $height - Resim yüksekliği

@mixin image-retina($image2x, $width2x, $height2x) {

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url($image2x);
    background-size: $width $height;
  }
}