
//
// Utilities
// --------------------------------------------------

.circle { border-radius: 50%; }

.display-table {
  display: table;
  border-collapse:collapse;
}
.display-table-row  { display:table-row; }
.display-table-cell { display:table-cell; }

.clear-margin { margin: 0; }

.text-overflow { @include text-overflow(); }

.transition-background { @include transition( background-color 300ms ease-in ); }
.transition-color      { @include transition( color 300ms ease-in ); }
.transition-opacity    { @include transition( opacity 300ms ease-in ); }
.transition-transform  { @include transition( transform 300ms ease-in-out); }

// element should be block or inline-block
.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

// Contextual colors
.text-muted { color: $text-muted; }

//
//  Font Sizing
//

.font-xsmall  { @include font-xsmall(); }
small,
.font-small   { @include font-small(); }
.font-regular { font-size: $font-size-base; }
.font-medium  { @include font-medium(); }
.font-large   { @include font-large(); }
.font-xlarge  { @include font-xlarge(); }