
//
// Variables
// --------------------------------------------------


// SCAFFOLDING
// -------------------------

// `<body>` nin arkaplan rengi
$body-bg:               $global-bg-color !default;
//** `<body>` nin Global text rengi.
$text-color:            $global-text-color!default;
// Global link rengi
$link-color:            $global-link-color !default;
// Global link hover rengi
$link-hover-color:      darken($link-color, 15%) !default;


//  TYPOGRAPHY
// -------------------------

$font-size-base: 14px !default;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-h1: floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2: 2.143em;//floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3: 1.714em; //ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4: 1.286em;//ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5: $font-size-base !default;
$font-size-h6: 0.857em;//ceil(($font-size-base * 0.85)) !default; // ~12px

// Unit-less `line-height` for use in components like buttons.
$line-height-base: 1.428571429 !default; // 20/14
// Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed: floor(($font-size-base * $line-height-base)) !default; // ~20px

// By default, this inherits from the `<body>`.
$headings-font-family: inherit !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.1 !default;
$headings-color:       $global-title-color !default;

// Text muted color
$text-muted: $color-monsoon !default;
// Horizontal line color.
$hr-border: $global-border-color !default;


// FONT SIZING
// -------------------------

$font-size-small: $font-size-base - 2px;
$font-size-xsmall: $font-size-base - 4px;
$font-size-medium: $font-size-base + 2px;
$font-size-large: $font-size-base + 4px;
$font-size-xlarge: $font-size-base + 8px;


//  BUTTONS VARIABLES
// -------------------------

$button-function-factor: -20% !default; // Butunun arkaplan rengini aydınlatma oranı
$button-font-family: false !default; // Butonun fontu
$button-bg-color: $primary-color !default; // Buton default bg color
$button-bg-hover: scale-color( $button-bg-color, $lightness: $button-function-factor ) !default; // Button default hover rengi
$button-border-color: $button-bg-hover !default; // Button default border rengi
$button-radius: 3px !default; // Button default border radius
$button-font-size: 14px !default; // Button default font boyutu
$button-line-height: null !default; // Button line-height
$button-font-color: $color-white !default; // Button default font rengi
$button-font-color-alt: $color-oil !default; // Button default font rengi
$button-padding-vertical: 10px !default; // Button dikey padding
$button-padding-horizontal: 20px !default; // Button default yatay padding
$button-border-width: 0 !default; // Button default border width


//  FORMS CONTROL VARIABLES
// -------------------------

$input-bg-color:           inherit !default; // `<input>` background color
$input-bg-color-disabled:  $color-smoke !default; // `<input disabled>` background color
$input-color:              $color-charcoal !default; // Text color for `<input>`s
$input-color-placeholder:  $color-monsoon !default; // Placeholder text color
$input-border-color:       $color-iron !default; // `<input>` border color
$input-border-width:       1px !default; // `<input>` border width
$input-border-radius:      null !default; // `<input>` border radius
$input-border-focus:       #66afe9 !default; // Border color for inputs on focus
$input-font-size:          $font-size-base !default;
$input-line-height:        $line-height-computed !default;
$input-padding-vertical:   6px;
$input-padding-horizontal: 12px;
$input-height-base:        ( $input-line-height + ( $input-padding-vertical * 2 ) + ( $input-border-width * 2 ) ) !default; // Default `.form-control` height

//
// Transition Duration
// -------------------------

$global-transition-duration : .4s;

//
// Z-index
// Site genelinde kullanılan z-indexler burada tanımlanmalıdır
// -------------------------

