@import 'c-form-control-mixins';

//
// Form Control
//
// Styleguide Components.Form-Control

//
// Inputs
//
//  Markup:
// <input type="text" class="{{ html_classes('c-form-control', modifier_class != '[disabled]' ? modifier_class : '') }}" placeholder="Please Enter" {% if modifier_class %}value="John Doe"{% endif %} {% if modifier_class == '[disabled]' %}disabled{% endif %}/>
//
// [disabled] - Disabled
// .is-valid - Valid
// .is-invalid - Invalid
// .is-warning - Warning
//
//  Styleguide Components.Form-Control.Inputs

//
// Textarea
//
//  Markup:
// <textarea class="{{ html_classes('c-form-control c-form-control--textarea', modifier_class) }}">John Doe</textarea>
//
// .is-valid - Valid
// .is-invalid - Invalid
// .is-warning - Warning
//
//  Styleguide Components.Form-Control.Textarea

//
//  Forms Control Variables
//

$c-input-font-family: null !default;
$c-input-bg-color: inherit !default;
$c-input-bg-color-disabled: color-palette('gray', 200) !default;
$c-input-color: color-palette('gray', 700) !default;
$c-input-color-placeholder: color-palette('gray', 600) !default;
$c-input-border-color: color-palette('gray', 300) !default;
$c-input-border-width: 1px !default;
$c-input-border-radius: null !default;
$c-input-border-focus: #66afe9 !default;
$c-input-font-size: $g-font-size-base !default;
$c-input-line-height: $g-line-height-computed !default;
$c-input-padding-vertical: px-to-rem(6px);
$c-input-padding-horizontal: px-to-rem(12px);
$c-input-height-base: (
  $c-input-line-height + ($c-input-padding-vertical * 2) + (px-to-rem($c-input-border-width) * 2)
) !default;

.c-form-control {
  @include form-control-block();
  @include form-control-modifier();

  //
  // Elements
  // -------------------------

  &[disabled] {
    background-color: $c-input-bg-color-disabled;
    opacity: 0.5;
  }

  .is-valid > &,
  &.is-valid {
    border-color: $success-color;
    color: $success-color;
  }

  .is-invalid > &,
  &.is-invalid {
    border-color: $alert-color;
    color: $alert-color;
  }

  .is-warning > &,
  &.is-warning {
    border-color: $warning-color;
    color: $warning-color;
  }

  //
  // Modifiers
  // -------------------------

  &--textarea {
    overflow: auto; // Per CSS3 UI, `resize` only applies when `overflow` isn't `visible`
    height: auto;
    resize: none; // Options: horizontal, vertical, both
  }
}
