//
//  Colors
//
//  Styleguide Colors

//
//  Palletes
//
//  Styleguide Colors.1-Palettes

//
// Gray Palette
//
// Colors:
// 50: #fafafa
// 100: #f5f5f5
// 200: #eee
// 300: #e0e0e0
// 400: #bdbdbd
// 500: #9e9e9e
// 600: #757575
// 700: #616161
// 800: #424242
// 900: #212121
//
// Styleguide Colors.1-Palettes.Gray

$color-palette-gray: (
  50: #fafafa,
  100: #f5f5f5,
  200: #eee,
  300: #e0e0e0,
  400: #bdbdbd,
  500: #9e9e9e,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
);

$g-color-palettes: (
  'gray': $color-palette-gray,
);

//
// Default Colors
//
// Colors:
// $color-white: #fff
// $color-black: #000
//
// Styleguide Colors.2-Default-Colors

$color-white: #fff;
$color-black: #000;

//
// Custom Colors
//
// Styleguide Colors.3-Custom-Colors

//
// Project Colors
//
// Colors:
// $primary-color: #008cba
// $secondary-color: #e7e7e7
// $alert-color: #f04124
// $success-color: #43ac6a
// $warning-color: #f08a24
// $info-color: #a0d3e8
//
// Styleguide Colors.4-Project-Colors

$primary-color: #008cba;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43ac6a;
$warning-color: #f08a24;
$info-color: #a0d3e8;
