
//
// BUTTONS
// --------------------------------------------------


// @MIXIN btn-block
//
// Bu mixini butonun temel özelliklerini tanımlamak için kullanıyoruz
//
// @param $ease - Button arkaplanına transition tanımlar,
//   Transition için sass/global/_utilities.scss deki .transition-background classını extend eder

@mixin btn-block($ease:true) {

  @if ($ease == true){
    transition-duration: $g-transition-duration;
    transition-property: background-color, color, border-color;
  }

  position: relative;
  display: inline-block;
  padding: $c-button-padding-vertical $c-button-padding-horizontal;
  border-style: solid;
  border-width: $c-button-border-width;
  font-family: $c-button-font-family;
  font-size: $c-button-font-size;
  line-height: $c-button-line-height;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}


// @MIXIN btn-size
//
// Bu mixini butonun boyut özelliklerini tanımlamak için kullanıyoruz
//
// @param $padding-v - Butona üst ve alttan verilecek padding değerini tanımlar
// @param $padding-h - Butona sağ ve soldan verilecek padding değerini tanımlar
// @param $font-size - Buton font size değerini tanımlar

@mixin btn-size($padding-v:$c-button-padding-vertical, $padding-h:$c-button-padding-horizontal, $font-size:null) {

  // We control which padding styles come through,
  // these can be turned off by setting $padding:false
  @if $padding-v {
    @if $padding-h {
      padding: $padding-v $padding-h;
    } @else {
      padding-top: $padding-v;
      padding-bottom: $padding-v;
    }
  } @else {
    padding-left: $padding-h;
    padding-right: $padding-h;
  }

  font-size: $font-size;
}


// @MIXIN btn-modifier
//
// Bu mixin butonun şekil özelliklerini tanımlamak için kullanıyoruz
//
// @param $bg - Butonun arkaplan rengini tanımlar
// @param $bg-hover - Butonun hover durumundaki arkaplan rengini tanımlar
// @param $color: Button color
// @param $hover-color: Button hover color
// @param $border-color - Button border color değerini tanımlar
// @param $border-hover-color - Button border hover color değerini tanımlar
// @param $border-width - Butonun border with degerini tanımlar
// @param $radius - Butonun border-radius değerini tanımlar
// @param $disabled - Butona disable efekti vermek için kullanılır

@mixin btn-modifier($bg:$c-button-bg-color, $bg-hover:$c-button-bg-hover, $color:auto, $hover-color:auto, $border-width:$c-button-border-width, $border-color:null, $border-hover-color:null, $radius:$c-button-radius, $disabled:false) {


  // $bg-hover tanımlanmamışsa ve hover color `auto` seçilmişse
  // sass fonksiyonlarını kullanarak hover rengi taımlıyoruz
  @if $bg-hover == auto {
    $bg-hover: scale-color($bg, $lightness: $c-button-function-factor);
  }

  // $border-color tanımlanmamışsa sass fonksiyonlarını kullanarak border rengi taımlıyoruz
  @if ($border-color == auto) and not($bg == null) {
    $border-color: scale-color($bg, $lightness: $c-button-function-factor);
  }

  @if $border-color == null {
    $border-color: $bg;
  }

  @if $border-hover-color == null {
    $border-hover-color: $bg-hover;
  }

  $bg-lightness: 0;
  $bg-hover-lightness: 0;

  // Arkaplan renginin lightness oranı
  @if not($bg == null) {
    $bg-lightness: lightness($bg);
  }

  @if $bg == transparent {
    $bg-lightness: 71%;
  }

  @if not($bg-hover == null) {
    $bg-hover-lightness: lightness($bg-hover);
  }

  // Bg rengine göre text rengi ayarlıyoruz
  @if $color == auto {
    $color: if($bg-lightness > 70%, $c-button-font-color-alt, $c-button-font-color);
  }

  @if $hover-color == auto {
    $hover-color: if($bg-hover-lightness > 70%, $c-button-font-color-alt, $c-button-font-color);
  }

  background-color: $bg;
  color: $color;
  border-radius: $radius;
  border-color: $border-color;
  @if not ($border-width == $c-button-border-width) {
    border-width: $border-width;
  }

  &:hover,
  &:focus {
    background-color: $bg-hover;
    color: $hover-color;
    border-color: $border-hover-color;
  }

  // Eğer $disable:true ise Butonun disable durumunu ayarlıyoruz
  @if $disabled {
    &:disabled {
      cursor: not-allowed;
      opacity: 0.7;
      box-shadow: none;

      &:hover,
      &:focus {
        background-color: $bg;
      }
    }

  }

}
