
//
// Buttons
// --------------------------------------------------


//
//  Html Yapısı
//  --------------------------------------------------
//
//  <a href="#" class=button button--lage></a>
//

//
//  Mixin Properties
//
// btn-modifier()
//  $bg - Butonun arkaplan rengini tanımlar
//  $bg-hover - Butonun hover durumundaki arkaplan rengini tanımlar
//  $color: Button color
//  $hover-color: Button hover color
//  $border-color - Button border color değerini tanımlar
//  $border-width - Butonun border with degerini tanımlar
//  $radius - Butonun border-radius değerini tanımlar
//  $disabled - Butona disable efekti vermek için kullanılır

.button {
  @include btn-block();

  &--primary {
    @include btn-modifier();
  }

  &--secondary {
    @include btn-modifier( $bg:$secondary-color );
  }
  &--expanded {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  &--custom {
    @include btn-modifier( $bg:#74a446, $radius:10px, $bg-hover:#618a3c, $border-width:3px );
  }
  &--medium {
    @include btn-size( $padding-v:15px, $padding-h:50px, $font-size:1.1em );
  }
  &--tiny {
    @include btn-size( 5px, 10px, 10px );
  }
}
