
//
// Buttons
// --------------------------------------------------


//
//  Html Yapısı
//  --------------------------------------------------
//
//  <a href="#" class=button button--lage></a>
//

//
//  Mixin Properties
//
//  @mixin button-block( $ease:true, $font:$button-font-family )
//  @mixin button-modifier( $bg:$button-bg-color, $radius:false, $disabled:false, $bg-hover:null, $border-width:$button-border-width, $border-color:null )
//  @mixin button-size( $padding-v:$button-padding-vertical, $padding-h:$button-padding-horizontal )

.button {
  @include btn-block();

  &--primary {
    @include btn-modifier();
  }

  &--secondary {
    @include btn-modifier( $bg:$secondary-color );
  }
  &--expanded {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  &--custom {
    @include btn-modifier( $bg:#74a446, $radius:10px, $bg-hover:#618a3c, $border-width:3px );
  }
  &--medium {
    @include btn-size( $padding-v:15px, $padding-h:50px, $font-size:1.1em );
  }
  &--tiny {
    @include btn-size( 5px, 10px, 10px );
  }
}
