
//
// Form Controls
//
//  > *.u-gap-bottom not mandatory *
//
//  Markup:
//  <form>
//    <input type="text" class="c-form-control u-gap-bottom" />
//    <input type="text" class="c-form-control u-gap-bottom" disabled/>
//    <input type="number" class="c-form-control u-gap-bottom" placeholder="Number"/>
//    <textarea class="c-form-control c-form-control--textarea" rows="5"></textarea>
//  </form>
//
//  Styleguide 4.2

.c-form-control {
  @include form-control-block();
  @include form-control-modifier();

  //
  // Elements
  // -------------------------

  &[disabled] {
    opacity: .5;
    background-color: $c-input-bg-color-disabled;
  }

  //
  // Modifiers
  // -------------------------

  &--textarea {
    height: auto;
    resize: none; // Options: horizontal, vertical, both
    overflow: auto; // Per CSS3 UI, `resize` only applies when `overflow` isn't `visible`
  }

}
