//
//  Custom SelectBox
// --------------------------------------------------

//  Gist
//  https://gist.github.com/hsnayd/f25070b6ff35412032d4

//  Html
//  -------------------------
//
//  <div class="selectbox">
//      <label id="sb1" class="selectbox-mask" data-toggle="dropdown">Ay</label>
//      <ul class="selectbox-options" aria-labelledby="sb1"></ul>
//      <select name="slct1" id="slct1">
//          <option value="">Ay</option>
//          <option value="">option 2</option>
//          <option value="">option 3</option>
//          <option value="">option 4</option>
//      </select>
//   </div>

//  Javascript
//  -------------------------
//
//  $( '.selectbox' ).each( function(){
//      var $sbOptions = $( this ).find( '.selectbox-options' );
//      $sbOptions.empty();
//      $(this).find(' select > option ').each( function(){
//          $sbOptions.append( '<li>' + $(this).text() + '</li>' );
//      });
//  });
//
//  $('.selectbox-options > li').on('click', function() {
//      var $self = $(this),
//      index = $self.index(),
//      value = $self.text(),
//      $parent = $self.parent().parent();
//      $parent.find('select > option').eq(index).prop('selected', true);
//      $parent.find('label').html(value).removeClass('sb-open');
//  });

// Settings
// -------------------------

// Select Label
$color-select-text: #767676;
$color-select-background: white;
$color-select-border: #f0f0f0;
$color-select-caret: $color-select-text;
// Active
$color-select-text-active: $color-select-text;
$color-select-background-active: #e7e7e7;
$color-select-caret-active: $color-select-text;
// Options
$color-options-text: $color-select-text;
$color-options-text-hover: $color-select-text;
$color-options-background: white;
$color-options-background-hover: #fbfbfb;
$color-options-border: $color-select-border;


.selectbox {
    position: relative;

    &-options {
        position: absolute;
        left: 0;
        top: 40px;
        z-index: 9;
        display: none;
        width: 100%;
        padding-left: 0;
        border: 1px solid $color-options-border;
        color: $color-options-text;
        background-color: $color-options-background;
        list-style: none;

        > li {
            width: 100%;
            padding: 10px 15px;
            border-bottom: 1px solid $color-options-border;
            cursor: pointer;

            &:hover {
                color: $color-options-text-hover;
                background-color: $color-options-background-hover;
            }

            &:last-child { border-bottom: none; }
        }
    }

    &-mask {
        position: relative;
        display: block;
        width: 100%;
        height: 40px;
        padding: 10px 15px;
        border: 1px solid $color-select-border;
        color: $color-select-text;
        background-color: $color-select-background;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            top: 15px;
            right: 15px;
            display: block;
            width: 0;
            height: 0;
            border-width: 6px;
            border-style: solid;
            border-color: $color-select-caret transparent transparent;
        }
    }

    select { display: none; }
}

.open {

    > .selectbox-mask {
        color: $color-select-text-active;
        background-color: $color-select-background-active;
    }

    &:before {
        top: 8px;
        border-color: transparent transparent $color-select-caret-active;
    }

    > .selectbox-options { display: block; }

}
